* {
    font-family: roboto, sans-serif;
}

/* Removes the margin (Whitespace) */
body{
    margin: 0;
    padding: 0;
}

/* Make sure all links have no design */
a {
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}

/* Add underline when hovering */
a:hover{
    text-decoration: underline;
    color: #E5E7EB;
    cursor: pointer;
}

/* Body as flex container with column flex direction */
body{
    display: flex;
    flex-direction: column;
}

/* Header Styles */
/* Make sure items are also flex */
.header{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 32px
}

.header-item{
    display: flex;
    gap: 32px;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

/* Persist Right */
.header .first-link{
    margin-left: auto;
}

/* Content Styles */
/* Make sure items are also flex */
.content-desc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5%;
    background-color: #1F2937;
    height: 300px;
    flex: 1;
    padding: 32px;
}

/* Right Panel - flex */
.content-desc-right{
    background: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 40%;
    padding: 0px;
}

/* Left Panel - flex */
.content-desc-left{
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 200px;
    gap: -10px;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
}

/* Hero */
.awesome{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

/* Button for content */
.content-button{
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    color: #F9FAF8;
    width: 20%;
    height: 25px;
    display: block; /* Important for the whole button to be click-able */
}

button:hover{
    cursor: pointer;
}


/* Random Information Panel */
/* Current architecture: panel 1 - Header, panel 2 - group of boxes */
/* Hence the flex-direction should be along the column of the page */
.rand_info{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
    gap: 16px;
    padding: 16px;
    margin: 16px;
}

.rand_info_header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 16px;
}

/* Adjust boxes and its contents */
/* Current architecture: the boxes and contents are enclosed in a  container - rand_info-content */
/* Flex-direction for rand_info-content should be along the row */
.rand_info_content{
    display: flex;
    justify-content: center; /* TODO: Test "center" */
    gap: 16px;
    text-align: center;
}

/* Inside the container is another container/box (box_and_content) that would contain the image and the caption altogether */
/* align the image box and its subtext along the column */
.box_and_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 20%;
    color: #1F2937;
    gap: 8px;
}

/* style the box containing the image */
.box_image{
    border-style: solid;
    border-width: 2px;
    border-color: #3882F6;
    border-radius: 8px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 130px;
    flex: 1 1 auto;
}

/* style the subtext under the image box */
.box_subtext{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 150px;
}

/* HUGE QUOTE */
.quote_section{
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    flex: 1;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.ctto{
    align-self: flex-end;
    font-weight: 600;
    font-size: 18px;
    padding-right: 5%;
}

/* Call to Action */
.call_to_action{
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 7.5%;
}

/* Add background color to action box */
.action_box{
    display: flex;
    flex: 1;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 150px; 
    height: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 30%;
    border-radius: 12px;
}

/* Call to action texts */
.action_header{
    font-size: 18px;
    font-weight: 600;
}

.action_subtext{
    font-size: 14px;
}

.action_box_right{
    display: flex;
}

.action_box_right .content-button{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 85px;
    height: 30px;
    font-weight: bold;
}

/* Footer */
.footer{
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}